In [4]:
import alpha_vantage
import pandas

In [17]:
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key='QRUZFNK31H8I2RDT', output_format='pandas')
# Get pandas object with the intraday data and another with  the call's metadata
myList = ["QQQ", "TAGS", "CARZ"]
data_QQQ, meta_data_QQQ = ts.get_monthly(myList[0])
data_TAGS, meta_data_TAGS = ts.get_monthly(myList[1])
data_CARZ, meta_data_CARZ = ts.get_monthly(myList[2])

In [20]:
#print(data_QQQ)
#print(data_TAGS)
#print(data_CARZ)

            1. open  2. high   3. low  4. close  5. volume
date
2012-04-30  50.9900  51.0000  48.0000   48.8000     1770.0
2012-05-31  48.4000  48.4000  45.7100   46.7300     7341.0
2012-06-29  46.7300  53.0000  45.1100   48.0100    55571.0
2012-07-31  54.1220  73.1799  51.0000   55.5400    17101.0
2012-08-31  55.8000  55.8000  53.4800   54.8999     9984.0
2012-09-28  54.8999  54.9300  51.6500   52.3600    10325.0
2012-10-31  53.2000  53.2500  51.8033   51.8033    10086.0
2012-11-30  51.8033  51.8033  49.8966   50.7600     2700.0
2012-12-31  51.4100  51.4600  48.5900   48.5900     6975.0
2013-01-31  48.0200  48.8500  47.4400   48.8500     9565.0
2013-02-28  48.8500  48.9490  45.4200   45.5300     2350.0
2013-03-28  45.5300  46.0000  44.5000   44.5000     2505.0
2013-04-30  46.0000  46.0000  42.2300   43.8900    11999.0
2013-05-31  43.8900  44.4100  42.0000   42.1100     9899.0
2013-06-28  44.5500  44.9500  41.3500   41.3500    21880.0
2013-07-31  41.0000  42.9000  39.3000   39.6360     3122.0
2013-08-30  40.0000  40.0000  37.3400   39.0000     5100.0
2013-09-30  39.0000  40.8999  38.2800   39.6120     3800.0
2013-10-31  39.6120  40.0000  37.7100   37.8800    54412.0
2013-11-29  37.8800  37.8800  33.2000   33.2000     9088.0
2013-12-31  33.2000  37.7600  33.2000   34.0000    22349.0
2014-01-31  34.2000  37.4000  34.2000   34.9600     7870.0
2014-02-28  34.9600  38.9800  34.4000   37.9100    19964.0
2014-03-31  39.4100  40.9899  34.5000   37.8200    76325.0
2014-04-30  38.0001  42.4243  37.1510   40.2000    17072.0
2014-05-30  40.1700  41.0700  37.3301   39.8500     8009.0
2014-06-30  39.8500  39.8500  36.3500   36.3500      765.0
2014-07-31  36.3500  36.4800  31.5800   35.0100     6401.0
2014-08-29  35.0100  35.0100  34.3500   34.4100     2929.0
2014-09-30  34.8100  34.8100  30.0000   30.2800     5711.0
...             ...      ...      ...       ...        ...
2016-12-30  25.6200  25.6812  24.2900   25.6812     1896.0
2017-01-31  25.6812  26.6470  25.5700   26.6470     1188.0
2017-02-28  26.6500  27.5500  26.2600   26.3500     2159.0
2017-03-31  26.3500  26.6800  24.6700   24.7100     2526.0
2017-04-28  24.7100  24.7100  24.0500   24.0500      106.0
2017-05-31  24.0500  26.5600  23.5500   23.6500     1406.0
2017-06-30  23.6500  24.8000  22.9200   24.8000      710.0
2017-07-31  24.8000  25.5300  24.8000   24.9900     1233.0
2017-08-31  24.9900  25.3000  22.1400   23.0379     3646.0
2017-09-29  23.0400  23.0400  22.5600   22.9000     1200.0
2017-10-31  22.9000  22.9000  22.5500   22.7700     5009.0
2017-11-28  22.7700  22.7700  22.3750   22.3750      144.0
2017-12-29  21.9600  22.4199  21.2000   22.1000     3398.0
2018-01-31  22.5000  22.5000  21.8060   22.4572     2045.0
2018-02-28  22.4572  23.7000  22.3100   23.6600    11048.0
2018-03-29  23.6600  24.2500  22.6841   24.2500     9189.0
2018-04-30  23.9900  25.7000  22.3300   22.4200     6309.0
2018-05-31  22.4200  23.0000  21.1700   22.9358     3248.0
2018-06-29  23.2100  23.2100  21.0700   21.2700    10952.0
2018-07-31  21.2700  21.3600  20.5000   21.3300     4113.0
2018-08-31  21.3400  21.3400  20.0900   20.1700     7405.0
2018-09-28  20.1700  20.4200  20.0400   20.1000     1089.0
2018-10-31  20.1000  21.0600  20.1000   20.9000      236.0
2018-11-30  20.9000  20.9000  20.9000   20.9000      202.0
2018-12-31  20.9000  20.9200  20.1689   20.5300    17187.0
2019-01-31  20.3900  20.9186  20.2000   20.7020     1890.0
2019-02-28  20.7424  20.8207  20.0372   20.0372     1337.0
2019-03-29  20.0000  20.0000  19.1603   19.3926     2175.0
2019-04-30  19.5950  19.8300  18.8439   18.9200    16030.0
2019-05-13  18.9600  19.0472  18.0001   19.0403     2840.0

[86 rows x 5 columns]